<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



    @*<script src="~/Scripts/modernizr-2.8.3.js"></script>*@
    @*@RenderSection("scripts", required: false) navbar-fixed-top*@
</head>
<body>
    <nav class="navbar navbar-inverse  ">
        <div class="container">
            
                @*<button class="navbar-toggle" data-toggle="collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                <ul class="nav navbar-nav ">
                    <li>@Html.ActionLink("Home", "Home", "Dept", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li> @Html.ActionLink("Department", "Index", "Dept", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li> @Html.ActionLink("Students ", "Enrolled", "Registration", new { area = "" }, new { @class = "navbar-brand" })</li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("Signup", "Signup", "Registration", new { area = "" }, new { @class = "navbar-brand" })
                       
                    </li>
                    @*<li> @Html.ActionLink("Login", "Login", "Registration", new { area = "" }, new { @class = "navbar-brand" })</li>*@
                    <li class="dropdown">
                        <a class="dropdown-toggle navbar-brand" data-toggle="dropdown" href="#">Login  <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("User Login ", "Login", "Registration")</li>
                            <li>@Html.ActionLink("Admin Login ", "AdminLogin", "Registration")</li>
                        </ul>
                       
                    </li>
                </ul>

            
            
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>








@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@